<!-- <!DOCTYPE html> -->
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{site.title}}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="bg-[#EAEAEA]">
    <div class="max-w-2xl mx-auto px-6 py-5">
     <a href="/" class="inline-block">
      <div class="space-x-1 bg-white shadow hover:text-[#FF4F16] flex items-center pl-2 pr-4 py-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
        </svg> 
        <p>Home</p>
      </div>
           
     </a>
    </div>
    <div class="relative max-w-2xl mx-auto px-10 pt-10 flex flex-col">
      <h1 class="text-2xl font-medium pb-10">{{ page.title}}</h1>
      <div class="space-y-5 font-light text-base">
        {{ content }}
      </div>
 
    </div>

  </body>
</html>